/************************************************/

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: ;
    /*padding-bottom: 70px;
    padding-top: 70px;*/
}

html {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
    #footer {
        margin-top: 10px;
       position:relative;
       bottom: 0%;
    }
}
@media(max-width:768px) {
    #footer {
        margin-top: 10px;
       position:relative;
       bottom: 0%;
    }
}



a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

/**********************************/
.options {
	float: right;
}

.navbar .btn {
	position: relative;
	float: left;
	border-color: black;
	border-width: 2px;
}

.navbar .btn:hover {
	background-color: white;
}

.save-button {
	background-color: black;
	color: white;
	width: 180px;	
	height: 40px;	
}

.save-button:hover {
	background-color: #C0C0C0;
}

.save-button:hover {
	background-color: ;
}

.save {
	margin: 0 auto;
	width: 50%;
	padding-left: 10px;
}

.panel {
	color: black;
}

.list-group .list-group-item {
	font-size: 15px;
	padding: 5px;
}

#footer {
	background-color: #000;
}

#footer .join {
	float: right;
}
input[type="text"]:disabled{background-color:white;}