<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Split'n'Save</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <!-- <link href="../styles/style.css" rel="stylesheet">-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/angularcookies.js"></script>
    <script src="scripts/editpost.js"></script>
    <script type="text/javascript" src="scripts/header.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="Main" ng-show="show" data-ng-init="init()">
    <div class="header" style="margin-bottom:100px" ng-include="'header.html'" ng-controller="Header">
    </div>
    <h1 style="margin-top:20px;text-align:center;color: black;">Post Ad</h1>
    <div class="container" style="color: black;">
        <form>
            <div class="row" style="margin-bottom: 10px;">
                <div class="form-group">
                    <div class="col-md-4 col-sm-3"></div>
                    <div class="col-md-4 col-sm-6">
                        <!--<label for="exampleInputEmail1">First Name</label>-->
                        <select class="form-control" ng-model="category.Category" ng-change="onMouseLeave_Category($event)" disabled>
                            <option value="">Select Category</option>
                            <option value="1">Apartments</option>
                            <option value="2">Cabs</option>
                            <option value="3">Books</option>
                            <option value="4">Laundry</option>
                        </select>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Category_Result}}</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="form-group">
                    <div class="col-md-4 col-sm-3"></div>
                    <div class="col-md-4 col-sm-6">
                        <!--<label for="exampleInputEmail1">Last Name</label>-->
                        <input type="text" class="form-control" id="Text input" placeholder="{{titltext()}}" ng-model="rootproduct.Title" ng-change="onMouseLeave_Title($event)">
                        <span class="after">*</span>
                        </input>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Title_Result}}</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-4 col-sm-3"></div>
                <div class="col-md-4 col-sm-6">
                    <!--<label for="exampleInputPassword1">Email Address</label>-->
                    <textarea rows="4" placeholder="Description" style="width:100%" ng-model="rootproduct.Description"></textarea>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-4 col-sm-3"></div>
                <div class="form-group col-md-4 col-sm-6">
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Price (Rs.)" ng-model="rootproduct.Price" ng-change="onMouseLeave_Price($event)">
                     <span class="after">*</span>
                    </input>
                    <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Price_Result}}</div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-3 sm-2"></div>
                <div class="col-md-3 sm-3" style="margin-bottom:10px">
                    <input type="number" min="0" class="form-control" id="exampleInputPassword1" placeholder="Number of Sharer" ng-model="rootproduct.Sharers" ng-change="onMouseLeave_Sharers($event)">
                     <span class="after">*</span>
                    </input>
                    <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Sharers_Result}}</div>
                </div>
                <div class="col-md-3 sm-5">
                    <select class="form-control" ng-model="rootproduct.Geneder">
                        <option value="">Gender preference</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <!-- ___________________APARTMENTS____________________ -->
            <div id="Apartments" ng-show="checkApartments()">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-3">
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <label>Start Date</label>
                        </div>
                        <div class="col-md-8">
                            <input type='text' class="form-control" placeholder="dd-mm-yyyy" ng-model="product.Start_Date" ng-change="onMouseLeave_Start_Date($event)">
                             <span class="after">*</span>
                            </input>
                        </div>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_AStart_Date_Result}}</div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <label>Duration in months</label>
                        </div>
                        <div class="col-md-8">
                            <input type='text' class="form-control" ng-model="product.End_Date" ng-change="onMouseLeave_End_Date($event)">
                             <span class="after">*</span>
                            </input>
                        </div>
                         <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_AEnd_Date_Result}}</div>
                  </div>
            </div>
            <div class="row" style="margin-bottom:10px">
              <div class="col-md-3 col-sm-2"></div>
              <div class="col-md-2 col-sm-3" style="margin-bottom:10px">
                <input type="number" min="0" class="form-control" id="Text input" placeholder="No of Rooms" ng-model="product.Rooms">
              </div>
              <div class="col-md-2 col-sm-3" style="margin-bottom:10px">
                <input type="number" min="0" class="form-control" id="Text input" placeholder="No of Bed-Rooms" ng-model="product.Bed_Rooms">
              </div>
              <div class="col-md-2 col-sm-3">
                <input type="number" min="0" class="form-control" id="Text input" placeholder="No of Bath-Rooms" ng-model="product.Bath_Rooms">
              </div>
              <div class="col-md-3 col-sm-1"></div>
            </div>
            <div class="row" style="margin-bottom:10px">
              <div class="col-md-2"></div>
              <div class="col-md-2 col-sm-3" style="margin-bottom:10px">
                <select class="form-control" ng-model="product.BathRoom_Type">
                  <option value="">BathRoom Type</option>
                  <option value="Joint">Joint</option>
                  <option value="Seprate">Separate</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-4" style="margin-bottom:10px">
                <div class="col-md-6">
                  <label>In Time: </label>
                </div>
                <div class="col-md-6" style="margin-bottom:10px">
                <input type="text" class="form-control" id="Text input" placeholder="10 PM" ng-model="product.IN_Time_Value">
                </div>
              </div>
              <div class="col-md-3 col-sm-4">
                <div class="col-md-6">
                  <label>Out Time: </label>
                </div>
                <div class="col-md-6">
                <input type="text" class="form-control" id="Text input" placeholder="6 AM" ng-model="product.OUT_Time_Value">

                        
                    </div>
                </div>
            </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--<label for="exampleInputPassword1">Location</label>-->
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City name" ng-model="rootproduct.Location" ng-change="onMouseLeave_CityName($event)">
                        <span class="after">*</span>
                        </input>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_ACityName_Result}}</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--<label for="exampleInputPassword1">Email Address</label>-->
                        <textarea rows="4" placeholder="Full Address" style="width:100%" ng-model="product.Address" ng-change="onMouseLeave_Address($event)"></textarea>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_AAddress_Result}}</div>
                    </div>
                </div>
        </div>
            <!-- _____________________CABS_____________________ -->
            <div id="Cabs" ng-show="checkCabs()">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3 sm-3"></div>
                    <div class="col-md-6 sm-6">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Location of Departure" ng-model="product.Location" ng-change="onMouseLeave_CityName($event)">
                         <span class="after">*</span>
                         </input>
                    </div>
                    <div class="col-md-3 sm-3"></div>
                    <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_BCityName_Result}}</div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 sm-6" style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Departure Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type='text' class="form-control" placeholder="dd-mm-yyyy" ng-model="product.Start_Date" ng-change="onMouseLeave_Start_Date($event)" />
                                         <span class="after">*</span>
                                         </input>
                                    </div>
                                </div>
                                <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_BStart_Date_Result}}</div>
                            </div>
                            <div class="col-md-6 sm-6" style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Departure Time</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type='text' class="form-control" placeholder="12 AM" ng-model="product.Start_Time" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-3 sm-2"></div>
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control" style="margin-bottom: 10px" ng-model="product.CarService">
                            <option value="">Car Service</option>
                            <option value="Uber">Uber</option>
                            <option value="Ola">Ola</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control" style="margin-bottom: 10px" ng-model="product.CarType">
                            <option value="">Car Type</option>
                            <option value="Large">Large</option>
                            <option value="Medium">Medium</option>
                            <option value="Small">Small</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Car Name" ng-model="product.CarName">
                    </div>
                </div>
            </div>
            <!-- ___________________Books_____________________ -->
            <div id="Books" ng-show="checkBooks()">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-3 col-sm-2" style="margin-bottom: 10px"></div>
                    <div class="col-md-3 col-sm-4">
                        <input type='text' class="form-control" placeholder="Author's First Name" ng-model="product.Author_First_Name" />
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <input type='text' class="form-control" placeholder="Author's Last Name" ng-model="product.Author_Last_Name" />
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-3 col-sm-4" style="margin-bottom: 10px">
                        <div class="row">
                            <div class="col-md-5">
                                <label>Start Date</label>
                            </div>
                            <div class="col-md-7">
                                <input type='text' class="form-control" placeholder="dd-mm-yyyy" ng-model="product.Start_Date" ng-change="onMouseLeave_Start_Date($event)" />
                            </div>
                        </div>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_CStart_Date_Result}}</div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="row">
                            <div class="col-md-5">
                                <label>Duration in Months</label>
                            </div>
                            <div class="col-md-7">
                                <input type='text' class="form-control" ng-model="product.End_Date" ng-change="onMouseLeave_End_Date($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 10px;">
                                <!--<label for="exampleInputPassword1">Location</label>-->
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City Name" ng-model="rootproduct.Location">
                            </div>
                            <div class="col-md-8 col-sm-4" style="margin-bottom: 10px;">
                                <!--<label for="exampleInputPassword1">Location</label>-->
                                <div class="col-md-4">
                                    <label>College</label>
                                </div>
                                <div class="col-md-8">
                                    <form role="form">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="product.College" value="DA-IICT">DA-IICT
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="product.College" value="NOT DA-IICT">Not DA-IICT
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-3 sm-2"></div>
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control" style="margin-bottom: 10px" ng-model="product.Tag1">
                            <option value="">Tag 1</option>
                            <option value="Education">Education</option>
                            <option value="Philosophy">Philosophy</option>
                            <option value="Business">Business</option>
                            <option value="Fiction">Fiction</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control" style="margin-bottom: 10px" ng-model="product.Tag2">
                            <option value="">Tag 2</option>
                            <option value="Biology">Biology</option>
                            <option value="Maths">Maths</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control" ng-model="product.Tag3">
                            <option value="">Tag 3</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Medical">Medical</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Comic">Comic</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- ______________LAUNDRY__________________ -->
            <div id="laundry" ng-show="checkLaundry()">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 sm-6" style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Day of Washing</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type='text' class="form-control" placeholder="dd-mm-yyyy" ng-model="product.Start_Date" ng-change="onMouseLeave_Start_Date($event)" />
                                    </div>
                                </div>
                                <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_DStart_Date_Result}}</div>
                            </div>
                            <div class="col-md-6 sm-6" style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Convenient Time (Roughly)</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type='text' class="form-control" placeholder="12 AM" ng-model="product.Start_Time" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-sm-6">
                        <!--<label for="exampleInputPassword1">Location</label>-->
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City name" ng-model="rootproduct.Location" ng-change="onMouseLeave_CityName($event)">
                        <span class="after">*</span>
                        </input>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_DCityName_Result}}</div>
                    </div>
                    <div class="col-md-4 sm-6">
                        <input type="text" class="form-control" placeholder="Minimum Required Weight (in kg)
" ng-model="product.Weights" ng-change="onMouseLeave_Weights($event)">
                        <span class="after">*</span>
                        </input>
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_DWeights_Result}}</div>
                    </div>
                    
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="row">
                <h4 style="text-align:center">{{product.optionname}}</h4>
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-10">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="opt in Option">
                        <label>
                            <input type="checkbox" id="blankCheckbox" ng-model="opt.Option_Value" ng-true-value="1" ng-false-value="0" aria-label="Kitchen">{{opt.Option_Name}}
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1"></div>
            </div>
            <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-3">
                        <label>
                            <input type="text" class="form-control" placeholder="Other Options..." ng-model=>
                        </label>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-5"></div>
                <button type="submit" class="btn btn-default" style="background-color: black;color: white;width: 150px;" ng-click="onMouseLeave_Submit($event)">Submit</button>
            </div>
        </form>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="scripts/bootstrap.min.js"></script>
</body>

</html>
