<link href="styles/setting.css" rel="stylesheet">
<nav class="navbar navbar-default" style="background-color: white;margin-bottom: 0px;">
    <div class="container-fluid clearfix">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="navbar-header" style="margin-left: 70px;">
                    <a class="navbar-brand" href="#">Split'n'Save</a>
                </div>
            </div>
            <div class="col-xs-5 col-sm-3 col-md-4">
                <div class="options pull-right">
                    <button type="button" class="btn navbar-btn" style="display:inline-block;background-color: white;color:black;">Post an Ad</button>
                </div>
            </div>
            <div class="col-xs-7 col-sm-3 col-md-2">
                <div class="options pull-left">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="display:inline-block"><span class="glyphicon glyphicon-user"></span><span > UserName </span><!--<span class="caret"></span>--></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Profile</a></li>
                                <li><a href="#">My Posts</a></li>
                                <li><a href="#">Transaction History</a></li>
                                <li><a href="#">Messages</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Sign Out<OUTPUT></OUTPUT></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-inverse" style="background-color: black;margin-top: 0px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" style="font-size: 15px;">
            <ul class="nav navbar-nav" style="padding-left: 50px;">
                <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Inbox</a></li>
                <li><a href="#">My Posts</a></li>
                <li><a href="#">Transactions</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container clearfix" style="margin-top: 80px;" ng-controller = "SettingsCtrl">
    <nav class="panel panel-default">
        <div class="container-fluid">
            <div class="panel-heading" style="color: #606060;text-align:center">
                <h3>Change Password</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Old Password </span>
                            <input type="password" class="form-control" ng-blur="onMouseLeave_Type_Password($event)" ng-change="onMouseChange_Type_Password($event)" ng-model="user.Type_Password" aria-describedby="sizing-addon1">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Type_Password_Result}}</div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">New Password </span>
                            <input type="password" class="form-control" ng-blur="onMouseLeave_New_Password($event)" ng-change="onMouseChange_New_Password($event)" ng-model="user.New_Password" aria-describedby="sizing-addon1">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_New_Password_Result}}</div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Confirm Password </span>
                            <input type="password" class="form-control" ng-blur="onMouseLeave_Confirm_Password($event)" ng-change="onMouseChange_Confirm_Password($event)" ng-model="user.Confirm_Password" aria-describedby="sizing-addon1">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Confirm_Password_Result}}</div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-sm-2 col-md-5">
                    </div>
                    <div class="col-sm-8 col-md-5">
                        <div class="input-group">
                            <button type="button" class="btn btn-default save-button" ng-click="onMouseClick_Changes($event)">Update Password</button>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2">
                    </div>
                </div>
            </div>
        </div>
</div>
</nav>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" id="footer" ng-include="'footer.html'">
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="scripts/bootstrap.min.js"></script>
</body>

</html>
