<nav class="navbar navbar-fixed-top">
    <div class="cotainer-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks" aria-exapanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Split n Save</a>
        </div>
        <div class="collapse navbar-collapse" id="navlinks">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Books</a></li>
                <li><a href="#/cabs">Cabs</a></li>
                <li><a href="#/apartments">Apartments</a></li>
                <li><a href="#/laundry">Laundry</a></li>
            </ul>
            <ul class="nav navbar-right">
                <li><span class="glyphicon glyphicon-user">Sign Up</span></li>
                <li><span class="glyphicon glyphicon-log-in">Log In</span></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class="row">
    <div class="col-md-4 ">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-5">
                    <img src="../images/books_01.jpg"></img>
                </div>
                <div class="col-md-7">
                    <h4> Title</h4>
                    <h5> Author</h5>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>COST</li>
                        <li>LOCATION</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
