<link rel="stylesheet" href="styles/books.css">
<!-- <link rel="stylesheet" href="styles/sidebar.css"> -->
<!-- <link rel="stylesheet" href="styles/side_bar_full.css"> -->
<script src="scripts/controllers/books.js"></script>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="cotainer-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks" aria-exapanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Split n Save</a>
        </div>
        <div class="collapse navbar-collapse" id="navlinks">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Books</a></li>
                <li><a href="#/cabs">Cabs</a></li>
                <li><a href="#/apartments">Apartments</a></li>
                <li><a href="#/laundry">Laundry</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!if_logged_in()"><a href="#/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li ng-show="!if_logged_in()" data-toggle="modal" data-target=".bs-example-modal-sm"><a href=""><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
                <!--____________USER DROPDOWN  ___________-->
                <li ng-show="if_logged_in()">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:red">{{user.Email}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My Posts</a></li>
                        <li><a href="#">Transaction History</a></li>
                        <li><a href="#">Messages</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sign Out<OUTPUT></OUTPUT></a></li>
                    </ul>
                </li>
                <!--_____-->
            </ul>
        </div>
    </div>
</nav>
<!-- ______________________________Login Modal__________________________ -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body" ng-model="user">
                <ul>
                    <label for="usr">Email:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" ng-model="user.Email" ng-blur="onMouseLeave_Email($event)" ng-change="onMouseLeave_Email($event)">
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Email_Result}}</div>
                    </div>
                    <label for="pwd">Password:</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pwd" ng-model="user.Password" ng-blur="onMouseLeave_Password($event)" ng-change="onMouseLeave_Password($event)">
                        <div class="error" style="color:red;font-family:verdana;font-size: 13px">{{onMouseLeave_Password_Result}}</div>
                    </div>
                    <div style="text-align:center">
                        <button type="submit" ng-click="login_check($event)" class="btn btn-danger" style="width:90%">Login</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--___________________SEARCH BAR_________________________________ -->
<div class="search-container row">
    <div class="col-md-2 col-sm-1">
    </div>
    <div class="intro-text input-group col-md-8 col-sm-10 col-xs-12">
        <div class="col-md-6 search-bar col-sm-8 col-xs-8">
            <input class="form-control search-field" type="text" ng-model="searchText" placeholder="Search Author or Book Title ....">
        </div>
        <div class="col-md-4 search-bar col-sm-4 col-xs-4">
            <button type="button" class="search-btn btn btn-danger"><span class="glyphicon glyphicon-search" style="margin:4px"></span> Search</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-1">
    </div>
</div>
<!-- _______________Search Keyword, Filters and order by________________________-->
<div class="row filter-row">
    <ul class="dropdown-menu">
    </ul>
    <div class="filter container">
        <div class="dropdown dropdown-large clearfix">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">Filters<span class="glyphicon glyphicon-filter"></span></button>
            <ul class="dropdown-menu dropdown-menu-large col-md-12">
                <li class="col-md-2">
                    <ul>
                        <li class="dropdown-header">Sort By</li>
                        <li><a href="#">Price ↑ </a></li>
                        <li><a href="#">Price ↓ </a></li>
                        <li role="sepearator" class="divider"></li>
                        <li><a href="#">Date ↑ </a></li>
                        <li><a href="#">Date ↓ </a></li>
                        <li role="sepearator" class="divider"></li>
                        <li><a href="#">Rating ↑ </a></li>
                        <li><a href="#">Rating ↓ </a></li>
                    </ul>
                </li>
                <li class="col-md-6">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h5>Ammenities</h5>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Kitchen
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">Internet
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Television
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Heater
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Air Conditioner
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">Washing Machine
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Parking Space
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">No Pets
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Suitable for Events
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">No Smoking
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Wheelchair support
                            </label>
                        </div>
                        <div class="checkbox col-md-4">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Elevator
                            </label>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="checkbox col-md-3"></div>
                        <div class="checkbox col-md-2">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Pool
                            </label>
                        </div>
                        <div class="checkbox col-md-2">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">Gym
                            </label>
                        </div>
                        <div class="checkbox col-md-2">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Fire exit alarm
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox col-md-3"></div>
                        <div class="checkbox col-md-2">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">First-aid kit
                            </label>
                        </div>
                    </div>
                </li> -->
                    <li class="col-md-4">
                        <ul>
                            <li class="dropdown-header">Input groups</li>
                            <li>
                                <select class="form-control">
                                    <option>No. of sharers</option>
                                    <option>01</option>
                                    <option>02</option>
                                </select>
                            </li>
                            <li role="sepearator" class = "divider"></li>
                            <li role="sepearator" class= "divider"></li>
                            <li>
                                <select class="form-control">
                                    <option>Gender preference</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>None</option>
                                </select>
                            </li>
                        </ul>
                    </li>
            </ul>
        </div>
    </div>
    <div class="col-md-5"></div>
</div>
<!--______________________ PANEL__________________________________ -->
<div class="container" ng-controller="BooksCtrlList">
    <div ng-repeat="book in books | filter:search" class="col-md-4 product-card">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-5 col-sm-6 col-xs-7">
                    <img src="../images/books_01.jpg" class="img-responsive thumbnail"></img>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-5 product-title">
                    <h4> {{book.name}}</h4>
                    <h6> {{book.title}}</h6>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12 product-details text-nowrap">
                        <ul>
                            <li><b>COST :</b> Rs {{book.price}}</li>
                            <li><b>LOCATION :</b> {{book.location}} </li>
                            <li><b>POSTED BY : </b> {{book.host}}</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-8"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Panel End-->
