<link rel="stylesheet" href="styles/homepage.css">
<script src="scripts/controllers/books.js"></script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll">Split n Save</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="" style="border:2px solid white">Something New</a>
                </li>
                <li>
                    <a href="#services">SIGN UP</a>
                </li>
                <li>
                    <a href="#portfolio">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div class="container" ng-controller="BooksCtrlList">
        <div class="col-md-2 col-sm-1"></div>
        <div class="intro-text input-group col-md-8 col-sm-10 col-xs-12">
            <div class="input-group-button col-md-3 search-bar col-sm-3 col-xs-3">
                <button type="button" class="btn btn-default dropdown-toggle search-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-click="loadsearch('Search By Book\'s Title or Author ')"><a>Books</a></li>
                    <li ng-click="loadsearch('Search By Destination')"><a>Cabs</a></li>
                    <li ng-click="loadsearch('Search By Location ')"> <a>Apartments</a></li>
                    <li ng-click="loadsearch('Search By Weights ')"><a>Laundry</a></li>
                </ul>
            </div>
            <div class="col-md-5 search-bar col-sm-6 col-xs-6">
                <input class="form-control search-field" type="text" placeholder="{{Search}}">
            </div>
            <div class="col-md-4 search-bar col-sm-3 col-xs-3">
                <button type="button" class="search-btn btn btn-danger"><span class="glyphicon glyphicon-search" style="margin:4px"></span> Search</button>
            </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
</header>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 categories-text">
        <h2>Categories</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row clearfix">
    
        <div class="col-md-3 col-sm-6 col-xs-12 categories books" style="background-image:url(images/books_01.jpg);margin-bottom:10px">
             <a href="#/books">           
                <span><h2>Books</h2></span>
            </a>
        </div>
    
        <div class="col-md-3 col-sm-6 col-xs-12 categories cabs pull-right" style="background-image:url(images/cabs_01.jpg);margin-bottom:10px">
             <a href="#/books">
            <span><h2>Cabs</h2></span>
            </a>
        </div>
  
           <div class="col-md-3 col-sm-6 col-xs-12 categories laundry" style="background-image:url(images/laundry_01.jpg);margin-bottom:10px">
            <a href="#/books">
            <span><h2>laundry</h2></span>
            </a>
        </div>
    
   
        <div class="col-md-3 col-sm-6 col-xs-12 categories apartments pull-right" style="background-image:url(images/apartments_01.jpg);margin-bottom:10px">
             <a href="#/books">
            <span><h2>apartments</h2></span>
             </a>
        </div>
   
</div>
<script type="js/homepage.js"></script>
