<nav class="navbar navbar-default" style="background-color: white;margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="navbar-header" style="padding-left: 70px;">
            <a class="navbar-brand" href="#">Split'n'Save</a>
        </div>
    </div>
</nav>
<div class="container" style="color: black;">
    <h1 style="margin-top:20px;text-align:center;color: black;">---</h1>
    <form>
        <div class="row" style="margin-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <!--<label for="exampleInputEmail1">First Name</label>-->
                    <select class="form-control">
                        <option>Select Category</option>
                        <option>Apartments</option>
                        <option>Cabs</option>
                        <option>Books</option>
                        <option>Laundry</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <!--<label for="exampleInputEmail1">Last Name</label>-->
                    <input type="text" class="form-control" id="Text input" placeholder="Title">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <!--<label for="exampleInputPassword1">Location</label>-->
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Location">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <!--<label for="exampleInputPassword1">Email Address</label>-->
                <input type="text" class="form-control" id="Text input" placeholder="Description">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <!--<label for="exampleInputPassword1">Password</label>-->
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Price (Rs.)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            $(function() {
                $('#datetimepicker1').datetimepicker();
            });
            </script>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="exampleInputFile">Profile Picture</label>
                <input type="file" id="exampleInputFile">
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>No. of sharers</option>
                    <option>01</option>
                    <option>02</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>Gender preference</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>None</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;margin-top: 10px;">
            <div class="col-md-3"></div>
            <!-- <div class="col-md-2">
              <h5 style="margin: 0 auto;color: black;">Date of birth</h5>
              <label for="exampleInputFile">No. of sharers</label>
            </div> -->
            <div class="col-md-2">
                <select class="form-control">
                    <option>Tag 1</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>Tag 2</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>Tag 3</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="checkbox col-md-3"></div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Kitchen
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">Internet
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Television
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox col-md-3"></div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Heater
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Air Conditioner
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">Washing Machine
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox col-md-3"></div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Parking Space
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">No Pets
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Suitable for Events
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox col-md-3"></div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">No Smoking
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Wheelchair support
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Elevator
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox col-md-3"></div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Kitchen">Pool
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="Internet">Gym
                </label>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Fire exit alarm
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox col-md-3"></div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">First-aid kit
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <button type="submit" class="btn btn-default" style="background-color: black;color: white;width: 150px;">Submit</button>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Split'n'Save</a>
        </div>
        <div class="join">
            <span style="padding: 10px;">Join Us On</span>
            <span style="font-size:2em;padding: 2px;"><i class="fa fa-facebook-square"></i></span>
            <span style="font-size:2em;padding: 2px;"><i class="fa fa-twitter-square"></i></span>
            <span style="font-size:2em;padding: 2px;"><i class="fa fa-google-plus"></i></span>
            <span style="font-size:2em;padding: 2px;"><i class="fa fa-youtube-square"></i></span>
        </div>
    </div>
</nav>
