header .welcome-text
{
    margin-top:150px;
    text-align:center;
    /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  */
}
.search-image
{
	
	
	padding: 0px;
	-webkit-filter: sepia(20%);

}

.search-bg
{
	
    background-image:url('https://s23.postimg.org/4vs8ajk23/search_bg.jpg');
	background-size:100% auto;
	background-color: black ;
	/* -webkit-filter: blur(2px) ;
    -webkit-filter: saturate(1);
    -webkit-filter: brightnes s(80%); */
    height:500px;
	min-width: 840px;
    background-repeat: no-repeat;
}

.search-bar
{
	padding: 0px;
}

.search-btn,
.search-field,
.search-dropdown
{
	margin-left:0px ;
	margin-right: 0px;
	height:40px;
}

.search-dropdown
{
	width: 100%;
	border-right:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:0px ;
}
.search-field
{	
	width:100%;
	height:40px;
}

header .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-btn
{
	float:left;
	width:80%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.categories
{
	height:200px;
	text-align:center;
	background-repeat: no-repeat;
	background-size: cover;
    max-width: 350px;
}



.categories h2
{
	position: relative;
	top: 95px;
	color:white;
    font-size: 35px;
	-webkit-filter: brightness(1);
	/* border:2px solid white; */
	/* left:50%; */
}

.categories-text
{
	text-align:center;
}



/* a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #119499;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}


.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #1E9296;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    -webkit-text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #1E9296;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #1E9296;
    outline: 0;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        background-color: #222;
        padding: 10px 0;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    background-image: url(../img/search_bg.jpg);
    background-repeat: none;
    -webkitbackground-filter:blur(3px); 
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    margin-bottom: px;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
 */
